# RabbitMQ Service
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# Application (Airbnb.API)
APPLICATION_JWT_KEY=57D89808-A5C3-4F46-A41D-299B64C8E82B-57D89808-A5C3-4F46-A41D-299B64C8E82B
APPLICATION_JWT_ISSUER=http://localhost:5006
APPLICATION_JWT_Audience=http://localhost:5006
APPLICATION_JWT_EXPIRATION_MINUTES=60
APPLICATION_MSSQL_SA_PASSWORD=DevPassw0rd123
APPLICATION_DB_CONNECTION_STRING=Server=airbnb.sqlserver,1433;Database=master;User Id=sa;Password=DevPassw0rd123;TrustServerCertificate=True;
APPLICATION_DEFAULT_USER_PASSWORD=DefaultPassword12345
APPLICATION_RABBITMQ_HOSTNAME=airbnb.broker.rabbitmq
APPLICATION_RABBITMQ_PORT=5672
APPLICATION_RABBITMQ_USERNAME=guest
APPLICATION_RABBITMQ_PASSWORD=guest
APPLICATION_RABBITMQ_EXCHANGE=user-events
APPLICATION_RABBITMQ_AUDIT_QUEUE=audit-service
APPLICATION_RABBITMQ_CLIENTPROVIDED_NAME=user-service

# Audit (Airbnb.Audit.API)
AUDIT_MONGODB_USERNAME=admin
AUDIT_MONGODB_PASSWORD=DevPassw0rd123

