# RabbitMQ Service
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_EXCHANGE=airbnb-events
RABBITMQ_AUDIT_QUEUE=user-audits
RABBITMQ_HOSTNAME=airbnb.broker.rabbitmq

# Application (Airbnb.API)
APPLICATION_JWT_EXPIRATION_MINUTES=60
APPLICATION_JWT_ISSUER=http://localhost:5006
APPLICATION_JWT_Audience=http://localhost:5006
APPLICATION_JWT_KEY=57D89808-A5C3-4F46-A41D-299B64C8E82B-57D89808-A5C3-4F46-A41D-299B64C8E82B
APPLICATION_MSSQL_SA_PASSWORD=DevPassw0rd123
APPLICATION_DEFAULT_USER_PASSWORD=DefaultPassword12345
APPLICATION_DB_CONNECTION_STRING=Server=airbnb.sqlserver,1433;Database=master;User Id=sa;Password=DevPassw0rd123;TrustServerCertificate=True;

# Audit (Airbnb.Audit.API)
AUDIT_MONGODB_USERNAME=admin
AUDIT_MONGODB_PASSWORD=DevPassw0rd123
AUDIT_MONGODB_DATABASE_NAME=airbnb_audit_database
AUDIT_MONGODB_DB_CONNECTION_STRING=mongodb://admin:DevPassw0rd123@airbnb.audit.mongodb:27017